<h1>Listing crawlings</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Key word</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crawlings.each do |crawling| %>
  <tr>
    <td><%= crawling.url %></td>
    <td><%= crawling.key_word %></td>
    <td><%= crawling.result %></td>
    <td><%= link_to 'Show', crawling %></td>
    <td><%= link_to 'Edit', edit_crawling_path(crawling) %></td>
    <td><%= link_to 'Destroy', crawling, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crawling', new_crawling_path %>
