<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @crawling.url %>
</p>

<p>
  <b>Key word:</b>
  <%= @crawling.key_word %>
</p>

<p>
  <b>Result:</b>
  <%= @crawling.result %>
</p>


<%= link_to 'Edit', edit_crawling_path(@crawling) %> |
<%= link_to 'Back', crawlings_path %>
