<h1>租房信息列表</h1>

<%= form_tag items_path, :method => :get, :class => "form-search" do %>
  <%= text_field_tag "key_word", @key_word, :class => "input-medium search-query",
    :placeholder=>"搜索条件，比如：东直门" %>
  <%= submit_tag "搜索", :class => "btn" %>
<% end %>
<%= paginate @items, :theme => 'twitter-bootstrap' %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>来源网站</th>
    <th>信息提要</th>
    <th style="width:80px">抓取日期</th>
  </tr>
  </thead>

  <tbody>
<% @items.each do |item| %>
<% source_website = SourceWebsite.find(item.source_website_id) if SourceWebsite.exists?( :conditions => { :id => item.source_website_id}) %>
  <tr>
    <td><%= link_to source_website.try(:name), source_website.try(:url_where_fetch_starts), :target => "_blank" %></td>
    <td><%= link_to item.content, item.original_url, :target => "_blank" %> </td>
    <td>
    <%= DateTime.strptime(item.created_at, "%Y-%m-%dT%H:%M:%S+08:00").strftime("%Y-%m-%d %H:%M:%S") %>
    </td>
<% end %>
  </tbody>
</table>
<%= paginate @items, :theme => 'twitter-bootstrap' %>
