<%= form_for(@source_website) do |f| %>
  <% if @source_website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source_website.errors.count, "error") %> prohibited this source_website from being saved:</h2>

      <ul>
      <% @source_website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :url_where_fetch_starts %><br />
    <%= f.text_field :url_where_fetch_starts %>
  </div>
  <div class="field">
    <%= f.label :last_fetched_on %><br />
    <%= f.text_field :last_fetched_on %>
  </div>
  <div class="field">
    <%= f.label :last_fetched_item_url %><br />
    <%= f.text_field :last_fetched_item_url %>
  </div>

  <div class="field">
    <%= f.label :items_list_css%><br />
    <%= f.text_field :items_list_css%>
  </div>
  <div class="field">
    <%= f.label :item_detail_page_url_css%><br />
    <%= f.text_field :item_detail_page_url_css%>
  </div>

  <div class="field">
    <%= f.label :price_css%><br />
    <%= f.text_field :price_css%>
  </div>
  <div class="field">
    <%= f.label :item_published_at_css%><br />
    <%= f.text_field :item_published_at_css%>
  </div>
  <div class="field">
    <%= f.label :max_pages_per_fetch%><br />
    <%= f.text_field :max_pages_per_fetch%>
  </div>
  <div class="field">
    <%= f.label :max_items_per_fetch%><br />
    <%= f.text_field :max_items_per_fetch%>
  </div>
  <div class="field">
    <%= f.label :next_page_css%><br />
    <%= f.text_field :next_page_css%>
  </div>
  <div class="field">
    <%= f.label :previous_page_css%><br />
    <%= f.text_field :previous_page_css%>
  </div>

  <div class="field">
    <%= f.label :sample_item_content%><br />
    <%= f.text_area :sample_item_content%>
  </div>
  <div class="field">
    <%= f.label :sample_items_list_content%><br />
    <%= f.text_area :sample_items_list_content%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
