= form_for @source_website do |f|
  .field
    = f.label :name, :class => "label label-important"
    = f.text_field :name
  .field.label.label-important
    = f.label :url_where_fetch_starts
    = f.text_field :url_where_fetch_starts
  .field.label.label-important
    = f.label :items_list_css, "每个item的CSS"
    = f.text_field :items_list_css
  .field.label.label-important
    = f.label :next_page_css, "下一页的CSS"
    = f.text_field :next_page_css
  .field
    = f.label :item_detail_page_url_css, "详细页面链接CSS"
    = f.text_field :item_detail_page_url_css
  .field
    = f.label :invalid_item_detail_url_pattern, "无效url pattern(置顶啥的)"
    = f.text_field :invalid_item_detail_url_pattern
  .field
    = f.label :invalid_item_css_patterns, "无效css patterns(置顶啥的，每行一组), 多个之间用 #{Crawler::INVALID_CSS_SEPARATOR} 分开"
    = f.text_field :invalid_item_css_patterns


  .actions
    = f.submit
