<h1>Listing source_websites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Identifier</th>
    <th>Last visited on</th>
    <th>Last fetched at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @source_websites.each do |source_website| %>
  <tr>
    <td><%= source_website.name %></td>
    <td><%= source_website.url %></td>
    <td><%= source_website.identifier %></td>
    <td><%= source_website.last_visited_on %></td>
    <td><%= source_website.last_fetched_at_id %></td>
    <td><%= link_to 'Show', source_website %></td>
    <td><%= link_to 'Edit', edit_source_website_path(source_website) %></td>
    <td><%= link_to 'Destroy', source_website, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source website', new_source_website_path %>
